:root {
  --link-color: #053352;
}

body {
  background-color: aliceblue;
  font-family: copperplate;
  padding: 32px 0;
  font-size: 16px;
  line-height: 1.45rem;
  text-align: left;
  font-weight: 300;
}

ul {
  list-style: none;
  padding: 0;
  margin: 8px 0 0 0;
}

li {
  padding: 4px 0;
}
h1 {
  font-size: 37px;
}
h2 {
  font-size: 24px;
}

h1,
h2 {
  margin: 8px 0;
}
h4,
h5 {
  margin: 0;
  font-weight: normal;
  display: inline;
}

p {
  margin: 0 0 16px 0;
}

.container {
  box-shadow: 0 0 16px grey;
  max-width: 928px;
  min-width: 700px;
  margin: 0 auto;
  background-color: white;
  padding: 32px;
  position: relative;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.profile-image-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  border-radius: 50%;
}

.name-container {
  width: 100%;
}

.top-icon {
  width: 80px;
  height: 80px;
}

.cv-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 60px;
  top: 0px;
}

.cv-span {
  font-size: 42px;
  color: white;
  font-weight: bold;
}

.address-icon {
  width: 14px;
  height: 14px;
  background-color: cornflowerblue;
  margin-right: 6px;
  padding: 8px;
  vertical-align: middle;
}

.circle {
  border-radius: 50%;
}

a.contact-link {
  color: var(--link-color);
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 4px 0;
  font-weight: bold;
}

a.contact-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 8px;
  left: 0;
  background-color: #146296;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

a.contact-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

address {
  display: flex;
  justify-content: space-between;
}

.git-in-container {
  display: flex;
  justify-content: space-around;
  text-align: right;
}

.git-in-container img {
  margin: 20px;
}

/* main */
section {
  margin: 10px 0 24px;
}

section p {
  line-height: 1.25rem;
}

.exp-years h5 {
  font-weight: 400;
}

.end p {
  font-size: 12px;
  text-align: center;
}

.exp-container {
  display: flex;
  justify-content: space-between;
}
.exp-years {
  text-align: right;
}



.skill-level {
  display: flex;
  justify-content: space-around;
}

.skill-level p {
  margin: 0;
  padding: 0;
}

.skill-container {
  display: flex;
  justify-content: space-between;
  margin: -20px auto;
}

.nov-container,
.beg-container {
  width: 50%;
}

.skill-icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.skill-box {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0;
  list-style-type: none;
}

.skill-box li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: calc(50% - 20px);
}

.lang-list-all {
  display: flex;
  justify-content: space-between;
}

.lang-list-item {
  display: flex;
  align-items: center;
}

.lang-icon {
  width: 30px;
  height: 20px;
  border: black 1px solid;
  margin-right: 8px;
}

a.git-link {
  color: var(--link-color);
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 4px 0;
  font-weight: bold;
}

a.git-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 8px;
  left: 0;
  background-color: #146296;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

a.git-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}